.navbar {
    background-color: white;
    color: #1f2937;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.cartButton {
    position: relative;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}

.quantity {
    position: absolute;
    top: 0.2rem;
    font-size: 0.75rem;
    padding: 0 0.25rem;
}
